.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
    text-shadow: 2px 4px 2px #e9e9e9;
    h1 {
      color: #313131;
      font-size: 20px;
    }
    h2 {
      color: #606060;
      font-size: 14px;
    }
  }
  text-align: justify;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 70px;
  .items {
    position: relative;
    max-height: 550px;
    max-width: 328px;
    padding: 30px 50px;
    border-radius: 40px;
    border: 1px solid #f3f6ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .description {
      min-width: 213px;
      min-height: 250px;
    }
    button {
      font-size: 16px;
      font-family: "IRANSansWeb";
      font-weight: 700;
      border: none;
      background: transparent;
      color: #de2328;
      padding: 10px;
      transition: background-color 0.3s;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    img {
      margin-right: 12px;
    }
    button:hover {
      background-color: #f3f6ff;
    }

    button:active {
      background-color: #b2edd5;
    }
  }
}

@media (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;

    h2 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    button {
      font-size: 16px;
      font-family: "IRANSansWeb";
      font-weight: 700;
      border: none;
      background: transparent;
      color: #de2328;
      margin-top: 77px;
      padding: 10px;
      transition: background-color 0.3s;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    img {
      margin-right: 12px;
    }
    button:hover {
      background-color: #f3f6ff;
    }

    button:active {
      background-color: #b2edd5;
    }

    .items {
      position: relative;
      height: 550px;
      width: 328px;
      padding: 35px 60px;
      border-radius: 40px;
      border: 1px solid #f3f6ff;
    }

    .items:nth-child(3n + 2) {
      position: relative;
      height: 550px;
      width: 328px;
      padding: 30px 60px;
      border-radius: 40px;
      border: 1px solid #f3f6ff;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 25%;
        right: -95px;
        width: 100px;
        height: 48%;
        background-color: rgb(255, 255, 255);
      }
      &::after {
        content: "";
        position: absolute;
        top: 25%;
        left: -73px;
        width: 75px;
        height: 48%;
        background-color: rgb(255, 255, 255);
      }

      
      ::after {
        content: "";
        position: absolute;
        top: 25%;
        left: -15px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #f3f6ff;
        z-index: 1;
      }

      ::before {
        content: "";
        position: absolute;
        top: 70%;
        right: -15px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #f3f6ff;
        z-index: 1;
      }
    }

    .items:nth-child(3n + 1) {
      ::before {
        content: "";
        position: absolute;
        top: 25%;
        left: -15px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #f3f6ff;
        z-index: 3;
      }

      ::after {
        content: "";
        position: absolute;
        top: 157px;
        left: -106px;
        width: 70px;
        height: 49%;
        border-right: 1px solid #f3f6ff;
        transform: rotate(-13.5deg);
        z-index: 3;
      }
    }

    .items:nth-child(3n) {
      ::before {
        content: "";
        position: absolute;
        top: 71%;
        right: -15px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #f3f6ff;
        z-index: 3;
      }

      ::after {
        content: "";
        position: absolute;
        top: 25%;
        right: -38px;
        width: 70px;
        height: 50%;
        border-right: 1px solid #f3f6ff;
        transform: rotate(-13.5deg);
        z-index: 3;
      }
    }
  }
}
